<%= form_with(model: task, local: true, html: { class: 'row g-2 justify-content-center' }) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-2">
    <div class="col-md">
      <div class="form-floating">
        <%= form.text_field :name, class: 'form-control', placeholder:'Task Name', disabled: !task.new_record? %>
        <%= form.label :name %>
      </div>
    </div>
  </div>

  <div class="row g-2">
    <div class="col-md">
      <div class="form-floating">
        <%= form.text_area :description, class: 'form-control', placeholder:'Description', disabled: !task.new_record?%>
        <%= form.label :description %>
      </div>
    </div>
  </div>

  <div class="row g-2">
    <div class="col-md">
      <div class="form-floating">
        <%= form.date_field :deadline, class: 'form-control', placeholder:'Deadline', disabled: !task.new_record? %>
        <%= form.label :deadline %>
      </div>
    </div>
  </div>

  <div class="row g-2">
    <div class="col-md">
      <div class="form-floating">
        <%= form.select :status, [ %w[Backlog backlog], %w[In-progress inprogress], %w[Done done] ],
                        { include_blank: false },  { class: 'form-control', placeholder:'Status'  } %>
        <%= form.label :status %>
      </div>
    </div>
  </div>

  <div className="row g-2">
    <div className="col-md" >
      <div class='w-100 text-end'>
        <%= link_to 'Back', tasks_path, class: 'btn btn-secondary btn-block' %>
        <%= form.submit class: 'btn btn-primary btn-block' %>
      </div>
      
    </div>
  </div>
<% end %>
